{% extends 'PortefolioBundle::layoutCv.html.twig' %}

{% block title %}

{% endblock %}

{% block cv_body%}
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('portefolio_homepage') }}">Accueil</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>

    <div class="">
        <center>
        <iframe src="{{ asset('bundles/portefolio/uploads/Cv.pdf') }}" frameborder="0" width="700px" height="900px"></iframe>
        </center>
    </div>
    <footer class="container-fluid bg-4 text-center">
        <p>Maxime Bordas © maxime.bordas01@gmail.com</p>
    </footer>
{% endblock %}